In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
nltk.download('stopwords')
nltk.download('wordnet')

In [ ]:

column_names = ['id', 'category', 'subcategory', 'title', 'abstract', 'url', 'entities', 'events']
df = pd.read_csv(r"data/news.tsv" , sep='\t', names=column_names, header=None)
print("Loaded Done:", df.columns.tolist())
df.head(12)

Loaded Done: ['id', 'category', 'subcategory', 'title', 'abstract', 'url', 'entities', 'events']

,id,category,subcategory,title,abstract,url,entities,events
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
5,N2073,sports,football_nfl,Should NFL be able to fine players for critici...,Several fines came down against NFL players fo...,https://assets.msn.com/labs/mind/AAJ4lap.html,"[{""Label"": ""National Football League"", ""Type"":...","[{""Label"": ""National Football League"", ""Type"":..."
6,N49186,weather,weathertopstories,It's been Orlando's hottest October ever so fa...,There won't be a chill down to your bones this...,https://assets.msn.com/labs/mind/AAJwoxD.html,"[{""Label"": ""Orlando, Florida"", ""Type"": ""G"", ""W...","[{""Label"": ""Orlando, Florida"", ""Type"": ""G"", ""W..."
7,N59295,news,newsworld,Chile: Three die in supermarket fire amid prot...,Three people have died in a supermarket fire a...,https://assets.msn.com/labs/mind/AAJ43pw.html,"[{""Label"": ""Chile"", ""Type"": ""G"", ""WikidataId"":...","[{""Label"": ""Santiago"", ""Type"": ""G"", ""WikidataI..."
8,N24510,entertainment,gaming,Best PS5 games: top PlayStation 5 titles to lo...,Every confirmed or expected PS5 game we can't ...,https://assets.msn.com/labs/mind/AACHUn8.html,"[{""Label"": ""PlayStation"", ""Type"": ""J"", ""Wikida...",[]
9,N39237,news,newsscienceandtechnology,"How to report weather-related closings, delays","When there are active closings, view them here...",https://assets.msn.com/labs/mind/AAlErhA.html,[],"[{""Label"": ""WXII-TV"", ""Type"": ""M"", ""WikidataId..."

In [ ]:

print("\n=== Initial Data Overview ===")
print(df.info())
print("\nSample data:")
print(df.head(3))

=== Initial Data Overview ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51282 entries, 0 to 51281
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           51282 non-null  object
 1   category     51282 non-null  object
 2   subcategory  51282 non-null  object
 3   title        51282 non-null  object
 4   abstract     48616 non-null  object
 5   url          51282 non-null  object
 6   entities     51279 non-null  object
 7   events       51278 non-null  object
dtypes: object(8)
memory usage: 3.1+ MB
None

Sample data:
       id   category      subcategory  \
0  N55528  lifestyle  lifestyleroyals
1  N19639     health       weightloss
2  N61837       news        newsworld

                                               title  \
0  The Brands Queen Elizabeth, Prince Charles, an...
1                      50 Worst Habits For Belly Fat
2  The Cost of Trump's Aid Freeze in the Trenches...

                                            abstract  \
0  Shop the notebooks, jackets, and more that the...
1  These seemingly harmless habits are holding yo...
2  Lt. Ivan Molchanets peeked over a parapet of s...

                                             url  \
0  https://assets.msn.com/labs/mind/AAGH0ET.html
1  https://assets.msn.com/labs/mind/AAB19MK.html
2  https://assets.msn.com/labs/mind/AAJgNsz.html

                                            entities  \
0  [{"Label": "Prince Philip, Duke of Edinburgh",...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2                                                 []

                                              events
0                                                 []
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  [{"Label": "Ukraine", "Type": "G", "WikidataId...

In [ ]:

print("\nMissing values before cleaning:")
print(df.isna().sum())

Missing values before cleaning:
id                0
category          0
subcategory       0
title             0
abstract       2666
url               0
entities          3
events            4
dtype: int64

In [ ]:

df['abstract'] = df['abstract'].fillna('')
# Drop rows with missing titles
df = df.dropna(subset=['title'])
# Drop duplicate articles
df = df.drop_duplicates(subset=['title'])

In [6]:
print("\nMissing values after cleaning:")
print(df.isna().sum())

Missing values after cleaning:
id             0
category       0
subcategory    0
title          0
abstract       0
url            0
entities       3
events         4
dtype: int64

In [ ]:

def clean_text(text):
    if not isinstance(text, str):
        return ""
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    text = text.lower()
    text = ' '.join(text.split())
    return text

df['clean_title'] = df['title'].apply(clean_text)
df['clean_abstract'] = df['abstract'].apply(clean_text)

In [ ]:

df['content'] = df['title'].fillna('') + ' ' + df['abstract'].fillna('')
df['content'] = df['content'].astype(str)

In [ ]:

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    text = text.lower()  
    text = re.sub(r'\W+', ' ', text)  
    text = re.sub(r'\d+', '', text)  
    tokens = text.split()
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]
    return ' '.join(tokens)
df['clean_content'] = df['content'].apply(preprocess_text)
df[['title', 'abstract', 'clean_content']].head()

,title,abstract,clean_content
0,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",brand queen elizabeth prince charles prince ph...
1,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,worst habit belly fat seemingly harmless habit...
2,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,cost trump aid freeze trench ukraine war lt iv...
3,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",nba wife affected mental health felt like frau...
4,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",get rid skin tag according dermatologist seem ...

In [ ]:

tfidf = TfidfVectorizer(max_features=5000)
tfidf_matrix = tfidf.fit_transform(df['clean_content'])


tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())


print("TF-IDF Matrix shape:", tfidf_df.shape)
tfidf_df.head(200)

TF-IDF Matrix shape: (50434, 5000)

,aaron,abandoned,abc,ability,able,aboard,abortion,absence,absolutely,abu,...,zach,zack,zealand,zero,zion,zodiac,zone,zoo,zozo,zuckerberg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.to_csv("news_cleaned.csv", index=False)